@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://anstar.edu.pl" target="_blank">
                <img src="https://anstar.edu.pl/wp-content/themes/tarnowp/img/logo-akademia-nauk.svg" alt="Akadamia Tarnowska" class="d-inline-block align-text-middle" style="max-height: 40px;">
            </a>

            <a href="https://github.com/Kamilr616/SmartBotAPI" target="_blank">
                <img src="GitHub_Logo.png" alt="Github" class="d-inline-block align-text-middle" style="max-height: 40px;">
            </a>
            
            <a href="https://dotnet.microsoft.com/" target="_blank">
                <i class="fab fa-microsoft" style="font-size: 40px;" alt=".NET"></i>
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
