@page "/"

<PageTitle>Home</PageTitle>

<h1>SmartBotAPI</h1>

SmartBotAPI is a project that integrates an Arduino-based robot with a powerful API server and a user-friendly interface.
The system allows real-time control and monitoring of the robot's actions, providing seamless communication between the hardware and software components. 