.container {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.left-section {
    flex: 1;
    max-width: 700px;
    width: 100%;
    margin-top: 30px;
    gap: 20px;
    background-color: lightgray;
    border-radius: 20px;
}

table {
/*    border-collapse: collapse;*/
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

thead th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 500px;
    margin: 20px;
}

/*.status-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
}*/

/*.data-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    background-color: #e9e9e9;
    border-radius: 8px;
}
*/
.data-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    background-color: #e9e9e9;
    border-radius: 20px;
    font-weight: bold;
}

.status-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    background-color: #e9e9e9;
    border-radius: 20px;
    font-weight: bold;
}

.data-item {
    flex: 1;
    min-width: 60px;
}
.joystick-section {
    justify-content: center;
    flex: 1;
    display: flex;
    margin-top : 30px;
}
#joystickContainer {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: darkcyan;
}

#joystickKnob {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
}

.joystickView {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

