.container {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.left-section {
    flex: 1;
    max-width: 700px;
    margin-right: 20px;
}

table {
/*    border-collapse: collapse;*/
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

thead th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 500px;
}

.status-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
}

.data-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    background-color: #e9e9e9;
    border-radius: 8px;
}

.data-item {
    flex: 1;
    min-width: 100px;
}

#joystickContainer {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
}

#joystickKnob {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 255, 0.7);
}

.joystickView {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

