body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h5 {
    font-size: 1.2rem;
    margin: 0;
}


.spinner-border {
    width: 3rem;
    height: 3rem;
    border-width: 0.25em;
}

.depth-image {
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    gap: 0px;
}

.pixel {
    margin: 0;
    padding: 0;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

thead th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

.connection-status, .data-status {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
    border: 1px solid #ddd;
}

    .data-status > div {
        flex: 1;
        min-width: 100px;
    }

    .connection-status p {
        font-size: 1rem;
        font-weight: bold;
    }

        .connection-status p.green {
            color: green;
        }

        .connection-status p.red {
            color: red;
        }

.flex-container {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

    .flex-container > div {
        flex: 1;
        margin-right: 20px;
    }

    .flex-container .right-panel {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

    .grid-container div {
        padding: 10px;
        background-color: #e9e9e9;
        border-radius: 8px;
        text-align: center;
    }

.user-info, .average-distance {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

@media screen and (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }

        .flex-container > div {
            margin-right: 0;
        }
}

#joystickContainer {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
}

#joystickKnob {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 255, 0.7);
}

.joystickView {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
