.container {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.depth-image {
    width: 640px;
    height: 640px;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    gap: 0px;
}

.pixel {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

table {
    flex: 1;
    max-width: 700px;
    margin-right: 20px;
    border-spacing: 0;
}

th, td {
    padding: 8px;
    text-align: center;
}

thead th {
    font-weight: bold;
    background-color: #f5f5f5;
}

tbody td {
    background-color: #e9e9e9;
    border: 1px solid #ccc;
}

.info-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.connection-status {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
}

    .connection-status p {
        font-weight: bold;
    }

    .connection-status.connected {
        color: green;
    }

    .connection-status.disconnected {
        color: red;
    }

.data-status {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.data-card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
}

    .data-card > div {
        flex: 1;
        min-width: 100px;
    }

    .data-card h5 {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .data-card p {
        font-size: 14px;
    }

.acceleration-rotation {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    background-color: #e9e9e9;
    border-radius: 8px;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.keyboard-input {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
}