.container {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: 20px;
    padding: 20px;
    gap: 20px;
}

.chart-section {
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 20px;
    width: 100%;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.chart-item {
    gap: 20px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid black;
    width: 100%;
    font-weight: bold;
}

.date-section {
    padding: 20px;
    background-color: lightgray;
    border-radius: 30px;
    font-weight: bold;
    display: flex;
    gap: 30px;
}

.spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}