# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - SmartBotAPI

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to registry
      uses: docker/login-action@v2
      with:
        registry: https://smartbotacr.azurecr.io/
        username: ${{ secrets.AzureAppService_ContainerUsername_8f91d4ad113c49ecb04ec10141836424 }}
        password: ${{ secrets.AzureAppService_ContainerPassword_43ddaf9159b7458d99f3262bbacec815 }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v3
      with:
        push: true
        tags: smartbotacr.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_8f91d4ad113c49ecb04ec10141836424 }}/smartbotwebapi:${{ github.sha }}
        file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'SmartBotAPI'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_880be8f2d12646c68d20ee77ff75939b }}
        images: 'smartbotacr.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_8f91d4ad113c49ecb04ec10141836424 }}/smartbotwebapi:${{ github.sha }}'